# Executables
*.exe

# AutoHotkey compiled files
*.ahk.bak
*.bin
*.out
*.tmp

# Python virtual environment
venv/
__pycache__/

# PyInstaller build artifacts
build/
dist/
*.spec

# OS junk files
.DS_Store
Thumbs.db

# -------------------------------------------------
# Go language
# -------------------------------------------------

# Go build artifacts
*.a
*.o
*.test
*.out

# Go workspace directories
bin/
pkg/

# Go coverage reports
coverage.out

# Go modules vendor directory (when `go mod vendor` is used)
vendor/
